*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .temp{
    width: 33.333%;
    border: 10px solid transparent;
    display:inline-block;
  
  }
  .App{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .App h2{
    text-align:center;
  }