*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    background-color: chartreuse;
    padding: 22px 23px;
    text-align: center;
    
}
.heading1{
    background-color: chartreuse;
    padding: 22px 23px;
    text-align: center;
    

}
.box{
    background-color: cornsilk;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.diceballs{
    background-color: darkgray;
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1 , .p2{
    margin: 12px;
    padding: 22px;
    border-radius: 15px;
    cursor: pointer;
}
.p2:hover{
    background-color: darksalmon;

}
.p1:hover{
    background-color: darksalmon;

}

#img{
    height: 200px;
    
}
#img2{
    height: 200px;
    
}
img{
    height: 100%;
}