body{
    background-color: black;
    text-align: center;
    position: relative;
}
.panel{
    height: 200px;
    width: 200px;
    display: inline-block;
    cursor: pointer;

    

}
.panel:hover{
    box-shadow: inset 0  0 0 3px cyan;
}



.bottom-right-panel{
    background-color: red;
    
    border-bottom-right-radius: 100%;

}
.bottom-left-panel{
    background-color: blue;
    
    border-bottom-left-radius: 100%;

}

.top-right-panel{
    background-color: green;
    
    border-top-right-radius: 100%;
    
}
.top-left-panel{
    background-color: yellow;
    
    border-top-left-radius: 100%;

}

.center{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* position: absolute; */
    display: inline-block;
    position: absolute;
    top: 115px;
    left: 530px;
}